*
{
    margin: 0;
}
body
{
    background-color: #181818;
    color: white;
}
.tank
{
    display: flex;
    margin-top: 20px;
    margin-left: 40px;
    gap: 20px;
}
.shose
{
    color: grey;
}
.testdrive
{
    display: flex;
    gap: 20px;
    margin-left: 300px;
}
hr
{
    margin-top: -40px;
    width: 80%;
    margin-left: 120px;
    color: rgb(50, 49, 49);
}
.img1
{}
.avtorus
{
    display: flex;
    margin-left: 120px;
    margin-top: 10px;
}
.avto
{
}
.tel
{
    margin-left: 200px;
}
.call
{
    margin-left: 50px;
    background-color: #FF9549;
    color: black;
    text-align: center;
    border-radius: 5px;
    padding: 8px;
}
.ikon
{
    display: none;
}
.bigimg
{
    margin-top: 30px;
}
.color
{
    color: #181818;
    background-color: #FF9549;
    padding: 8px;
    border-radius: 5px;
    text-align: center;
    width: 200px;
}
.buton
{
    position: absolute;
    margin-top: -350px;
    margin-left: 100px;
}
.skorost
{
    margin-left: 280px;
    margin-top: 20px;
}
.boxses
{
    display: flex;
    margin-left: 120px;
    gap: 20px;
    margin-top: 30px;
}
.box
{
    border: 1px solid grey;
    width: 330px;
    border-radius: 10px;
    padding: 10px;
}
.textavto
{
    text-align: center;
    margin-top: 100px;
}
.twocar
{
    margin-top: 20px;
}
.tank300
{
display: flex;
margin-top: 150px;
margin-left: 100px;
gap: 100px;
}
.imgcar
{
    margin-top: 50px;
}
.redtext
{
    background-color: red;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    width: 200px;
}
input
{
    padding: 10px;
    width: 300px;
    background-color: #181818;
}
.cardsflex
{
    display: flex;
    margin-left: 70px;
    gap: 50px;
    margin-top: 50px;
}
.cards
{
    background-color: #181818;
    border-radius: 10px;
    width: 250px;
}
.imegs
{
    margin-top: 50px;
    margin-left: 130px;
}
.none
{
    display: none;
}
.texts
{
    text-align: center;
    margin-top: 100px;
}
.inflex1
{
    display: flex;
    margin-left: 160px;
    gap: 30px;
    margin-top: 40px;
}
.jeep
{
    margin-top: 60px;
    margin-left: 300px;
}





@media (max-width:510px) 
{
    .shose
    {
        display: none;
    }
    hr
    {
        display: none;
    }
    .call
    {
        display: none;
    }
    .testdrive
    {
        display: none;
    }
    .tel
    {
        display: none;
    }
    .avto
    {
        margin-top: -60px;
        margin-left: -30px;
        font-size: 13px;
    }
    .img1
    {
        width: 40px;
        margin-left: -20px;
    }
    .ikon
    {
        display: block;
        font-size: 30px;
        margin-left: 236px;
        margin-top: -10px;
    }
    .buton
    {
        margin-top: 30px;
        margin-left: 30px;
    }
    .skorost
    {
        position: absolute;
        margin-top: 250px;
        margin-left: 10px;
        width: 380px;
    }
    .boxses
    {
        display: block;
        margin-top: 350px;
        margin-left: 30px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }
    .twocar
    {
        margin-left: -450px;
        width: 30px;
        position: sticky;
    }
    .tank300
    {
        display: block;
        margin-left: 40px;
    }
    .imgcar
    {
        margin-left: -70px;
        width: 400px;
    }
    .cardsflex
    {
        display: block;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }
    .imegs
    {
        display: none;
    }
    .none
    {
        display: block;
        margin-left: 40px;
        margin-top: 40px;
    }
    .inflex1
    {
        display: block;
        margin-left: 40px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }
    .jeep
    {
        width: 380px;
        margin-left: -0;
    }
}